/* For Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Noto+Sans:wght@400;500;600&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    height: 100%;
    width: 100%;
}
.section-primary{
    width: 1200px;
    margin: auto;
    max-width: 100%;
}

:root {
    --primary-color: #3a3a3a;
    --hot-pink: #E02C6D;
}

.btn-primary {
    color: #ffffff;
    border-radius: 40px;
    border: none;
    padding: 8px 20px;
    text-transform: uppercase;
    background-color: var(--hot-pink);
}

/* Navigation Starts */
.navbar{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.navbar-ul{
    display: flex;
}
.navbar-ul li{
    list-style: none;
    padding: 0px 20px;
}
.navbar-ul a{
    text-decoration: none;
    color: black;
    transition: 0.4s ease;
}
.icon i{
    padding-right: 15px;
    transition: 0.4s ease;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    cursor: pointer;
}
.navbar-ul a:hover{
    color: rgb(170, 211, 197);
}
.icon i:hover{
    color: rgb(245, 231, 103);
}


/* Banner Section */
.banner {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.banner-left h1 {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 15px;
}

.banner-left p {
    font-size: 1.1rem;
    padding-bottom: 20px;
}

.banner-right {
    margin-top: 95px;
    position: relative;
}

.circle {}

.main-camera {
    position: absolute;
    bottom: 50px;
}

/* Partnership Section */
.partnership {
    height: 110px;
    margin-top: 70px;
    border-radius: 6px;
    background-color: #f5f3f348;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.popular-collection-title {
    font-size: 3rem;
    text-align: center;
    padding: 75px 0;
}

/* Collection Section */
.collection-container {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 5px;
}

.collection {
    width: 329px;
    height: 476px;
    border-radius: 8px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.collection img {
    width: 300px;
    height: 256px;
}

/* see more */
.see-more {
    color: var(--hot-pink);
    display: flex;
    justify-content: end;
}


/* join now banner */
.join-now-banner {
    margin: 100px auto;
    width: 1300px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.join-img {
    width: 404px;
    height: 270px;
}

.join-now-info h1{
    font-size: 3rem;
}

.join-now-info p{
    padding: 15px 0;
}
.join-btn{
    border-radius: 5px;
}
/* footer */
footer{
    padding-top: 50px;
    height: 30vh;
    background-color: #0A0826;
    color: white;
    text-align: center;
}

.footer h2{
    font-size: 1.5rem;
    padding-bottom: 5px;
}

.footer p{
    padding-bottom: 10px;
}
/* ---------------
Responsiveness
------------------ */
/* Mobile Device */
@media only screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        
    }
    ul li{
        font-size: 13px;
        font-weight: 700;}
    .banner{
        flex-direction: column-reverse;
    }
    .partnership{
        flex-wrap: wrap;
    }
    .collection-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .join-now-banner{
        flex-direction: column-reverse;
    }
    .see-more{
        display: none;
    }
    img{
        height: 100%;
        width: 100%;
    }
    .banner-left, .join-now-info{
        width: 90vw;
        text-align: center;
    }
    .collection{
        width: 90vw;
        margin: auto;
    }
    .join-img{
        width: 90vw;
    }
}