/* For Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Noto+Sans:wght@400;500;600&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #3a3a3a;
    --hot-pink: #E02C6D;
}

.btn-primary {
    color: #ffffff;
    border-radius: 40px;
    border: none;
    padding: 8px 20px;
    text-transform: uppercase;
    background-color: var(--hot-pink);
}

/* Navigation Starts */
.section-primary {
    max-width: 100%;
    width: 1250px;
    margin: 0 auto;
    padding: 0 25px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navigation h1 {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
}

.navigation ul li {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

/* Banner Section */
.banner{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    
}
.banner-left{
    width: 50%;

}
.banner-right{
    width: 50%;
    overflow:hidden;
}
.circle{
    height: 440px;
    width: 440px;
    
}
.main-camera{
    height: 420px;
    width: 410px;
    position: relative;
    bottom: 438px;
}
/* ---------------
Responsiveness
------------------ */
/* Mobile Device */
@media only screen and (max-width: 576px) {

    .banner{
        flex-direction: column-reverse;
        gap: 0px;
    }
    .banner-camera{
        position: absolute;
    }
}